@{
    var userId = Guid.Parse(User.FindFirst("UserId")?.Value);

    var userLogin = User.Identity.Name;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page</title>

    <link rel="icon" href="favicon.ico" type="image/x-icon">

    @await RenderSectionAsync("Head", required: false)

    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FinanceTracker.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-md navbar-light bg-white border-bottom box-shadow justify-content-between sticky-top">
            <div class="d-flex justify-content-between m-3">
                <a class="nav-link text-dark font-weight-bold text-center fw-bold" asp-controller="Home" asp-action="Index" title="На главную"><i class="fa-solid fa-coins fa-2x"></i></a>

                <a class="nav-link text-dark font-weight-bold text-center fw-bold" asp-controller="Account" asp-action="Logout" title="Выйти">&nbsp; @userLogin</a>
            </div>
            
            @await Component.InvokeAsync("FinancialInfo", new { userId = userId })
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - FinanceTracker
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
